
/* base styles */
* {
  margin: 0;
  font-family: "Ariel";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #b0aeae;
}
.navbar h1 {
  color: #1520ec;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #030303;
  background-color: #d4d0d0;
  border-radius: 8px;  
}

.content {
  width: 610px;
  margin: 10px auto;
  padding: 10px;
}
.resume-viewer {
  padding: 10px;
  margin: 0 auto;
  width: 600px;
  display: block;
  box-shadow: 4px 2px 4px #1520ec;

}

.resume-viewer img {
  float: center;
}
.portfolio-nav {
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}
.portfolio-nav a {
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  max-width: 600px;
  padding: 6px;
}
.portfolio-nav a:hover {
  color: #030303;
  background-color: #d4d0d0;
  border-radius: 8px;  
}


.message-list h2 {
  font-size: 20px;
  color: #1520ec;
  margin-bottom: 10px;
}

.message-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.message-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.message-preview h2 {
  font-size: 20px;
  color: #1520ec;
  margin-bottom: 8px;
}


.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #1520ec;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #1520ec;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
